{% macro render_major() %}
<select id="majorName" name="major" class="form-control">
    <!--<option value="1-1">计算机科学</option>
    <option value="1-2">计算机工程</option>
    <option value="1-3">软件工程</option>
    <option value="1-4">信息技术(IT)</option>
    <option value="36-1">数学</option>
    <option value="2">航空航天</option>
    <option value="3">Chemical / Petroleum</option>
    <option value="4">Civil / Construction / Structural</option>
    <option value="5">电子与通信</option>
    <option value="5-1">电子计算机工程</option>
    <option value="6">Industrial / Operations</option>
    <option value="7">Mechanical / Automobile</option>
    <option value="8">Biomedical / Biotechnical</option>
    <option value="9">Management Information System (MIS)</option>
    <option value="10">Biological / Agricultural</option>
    <option value="11">Engineering Management (MEM)</option>
    <option value="12">Environmental / Mining</option>
    <option value="13">Financial Engineering</option>
    <option value="14">Material Science and Engineering</option>
    <option value="15">Analytics</option>
    <option value="16">Nano / Nuclear / Power</option>
    <option value="17">Healthcare</option>
    <option value="18">Nursing</option>
    <option value="19">Dental</option>
    <option value="20">Veterinary Science</option>
    <option value="21">Pharmacy</option>
    <option value="22">Commerce / Finance / Actuarial</option>
    <option value="23">Government / Administrative</option>
    <option value="24">Pure Sciences</option>
    <option value="25">Arts / Media</option>
    <option value="26">Education / Languages / Counselling</option>
    <option value="27">Humanities / Journalism</option>
    <option value="28">Management</option>
    <option value="29">Finance</option>
    <option value="30">Marketing</option>
    <option value="31">Human Resources</option>
    <option value="32">International Management</option>
    <option value="33-1">General Law</option>
    <option value="33-2">International Law</option>
    <option value="35">Architecture</option>
    <option value="37">Geography</option>
    <option value="38">Physics</option>-->
</select>
{% endmacro %}
